.DS_Store
*.meta
.idea/
org.eclipse.buildship.core.prefs
.project
.classpath
Android/.idea/*
.vscode
UnityExample/Assets/Plugins/Android/
UnityExample/Library
UnityExample/Obj
UnityExample/Temp
UnityExample/Logs
UnityExample/test.apk
UnitySdkExample/Assets/Plugins/Android/
UnitySdkExample/Library
UnitySdkExample/Obj
UnitySdkExample/Temp
UnitySdkExample/Logs