.DS_Store
*.meta
.idea/
org.eclipse.buildship.core.prefs
.project
.classpath
Android/.idea/*
.vscode
UnitySdkExample/Assets/Plugins/Android/
UnitySdkExample/.vs
UnitySdkExample/Library
UnitySdkExample/Obj
UnitySdkExample/Temp
UnitySdkExample/Logs